@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* RIGHT NAVBAR */

#top_logo{
    width: 130px;
    height: auto;
}


/* LEFT NAVBAR */

#left_nav{
    align-items: center;
}

#search_icon{
    color: #e0dfdf;
}

#kids_link>a{
    text-decoration: none;
    color: #e0dfdf;
}

#bell{
    color: #e0dfdf;
}

#account_avatar{
    width: 30px;
    height: auto;
}

.navbar-nav.me-auto.mb-2.mb-lg-0>li a{
    color: #e0dfdf;
}

.nav-item.dropdown{
    color: #e0dfdf;
    list-style: none;
}

#arrow_menu{
    color: #e0dfdf;
}

#dropdown_account>button{
    padding: 0;
}

#dropdown_account:hover>.dropdown-menu {
    display: block;
}

#dropdown_account>.dropdown-toggle:active {
    pointer-events: none;
}

/* SEZIONE NETFLIX */

#page_section{
    align-items: center;
    padding-left: 25px;
}

#genres_dropdown{
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: none;
    height: fit-content;
}

#genres_dropdown>button{
    color: white;
    font-size: 13px;
    padding: 3px 7px;
}

/* CAROSELLO */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16%);
    }
    
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.carousel-inner>.carousel-item .card{
    border: none;
    border-radius: 0;
    padding: 2px;
    background-color: transparent;
}

.carousel-inner>.carousel-item{
    scroll-behavior: smooth;
}